{{!-- {{#each users as |user|}} --}}
<div class="friend-profile d-flex flex-column align-items-center">
  {{!-- <img src="{{avatar}}" alt="User Avatar"> --}}
  <h2>{{name}}</h2>
  <p>{{username}}</p>
  {{!-- todo make connected helper --}}
  {{!-- {{#unless connected}} --}}
  {{!-- Creates a user button that is linked to the specific users id and allows the users to connect --}}
  <button class="connect-button submit rounded-pill" data-id="{{id}}">Connect</button>
  {{!-- {{/unless}} --}}
</div>
{{!-- {{/each}} --}}