{{#if logged_in}}

{{#each events as |event|}}
  {{> eventCard}}
{{/each}}

{{else}}
  <div class="animate__animate animate__backInLeft">
    <h2 class="error-message">404 no friends found, please log in</h2>
  </div>
{{/if}}