<div class="users">
  <h2 class="full text-center">Users</h2>
  {{#each users as |user|}}
    <div class="user">
      {{!-- <img src="{{avatar}}" alt="{{name}} Avatar"> --}}
      <h3>{{username}}</h3>
      <p>{{email}}</p>
    </div>
  {{/each}}
</div>

<div class="events">
  <h2 class="full text-center">Events</h2>
  {{#each events as |event|}}
  <div class="grid-container">
{{> eventCards event=event user_id=../user_id}}
  </div>
{{/each}}
</div>