<div class="searchResults">

  <div class="users">
    <h2 class="full text-center search-titles">Users</h2>
    <div class="container d-flex flex-row justify-content-around ">
      {{#each users as |user|}}
        <div class="col-12 col-sm-6 m-3">
          {{> users}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="events">
    <h2 class="full text-center search-titles">Events</h2>
    <div class="container d-flex flex-row justify-content-around ">
      {{!-- <div class="row"> --}}
      {{#each events as |event|}}
        <div class="col-12 col-sm-6 m-3">
        {{> eventCards event=event user_id=../user_id}}
      {{/each}}
      </div>
    {{!-- </div> --}}
  </div>
  </div>  
</div>