body {
  font-family: 'Nunito','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: linear-gradient(160deg, #97d545 0%, #66af30 13%, #ffffff 40%, #ffffff 60%, #fa5890 85%, #fd6880 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background-color: #33333399;
  z-index: 2;
}

/* Menu Button */
.flyoutMenu {
  padding-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: whitesmoke;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* navbar */
.navbar {
  width: 15vw;
  height: 30vh;

  position: fixed;
  top: 232px;
  right: 0;

  background-color: #333;

  transform: translate3d(100vw, 0, 0);

  transition: 0.3s cubic-bezier(0, .52, 0, 1);

  overflow: hidden;
}

.show {
  transform: translate3d(0, 0, 0);
  transition: 0.3s cubic-bezier(0, .52, 0, 1);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  font-size: 30px;
  margin-left: 20px;
  color: whitesmoke;
  text-decoration: none;
} 

.nav-links:hover {
  text-decoration: underline;
  color: whitesmoke;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #33333399;
  z-index: 2;
}

.sign-off {
  text-align: center;
  padding: 10px;
  font-size: medium;
  color: whitesmoke;
}